@import "../../../sass/Components/Variables";

.UpcomingClassesWidget {
    padding: 1rem 0;

    color:$primary-color-light;
    &__Abbr {
        background-color: $primary-color-light;
        color:$primary-color-dark;
    }
}