.UpgradeWideDashboard {
  position: absolute;
  height: 190px;
  width: 866px;
  /* left: 50%; */
  /* top: 50%; */
  transform: translate(-50%, -50%);
}

.UpgradeWideDashboard__Img {
  overflow: visible;
  background: url("img/unlock.svg");
  background-size: cover;
  background-position: center;
  width: 140px;
  height: 170px;
  position: absolute;
  left: 100px;
  top: 30px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.UpgradeWideDashboard__Bg {
  position: absolute;
  width: 828px;
  height: 140px;
  background: rgba(96, 196, 237, 0.4);
  border-radius: 20px;
}

.UpgradeWideDashboard__Text {
  width: 316px;
  height: 114px;
  position: absolute;
  left: 45%;
  top: 50%;
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  transform: translate(-50%, -50%);
}

.UpgradeWideDashboard__Btn {
  position: absolute;
  width: 330px;
  height: 64px;
  left: 85%;
  color: white;
  font-weight: 900;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  /* Primary Gradient */

  background: linear-gradient(
    180deg,
    rgba(96, 196, 237, 0.75) 0%,
    rgba(51, 140, 194, 0.75) 100%
  );
  border-radius: 20px;
}

.UpgradeWideDashboard__Btn--Text {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: 64px;
}

.UpgradeWideDashboard__Btn--Arrow {
  line-height: 64px;
  font-size: 20px;
  margin-left: 6px;
  vertical-align: middle;
}
