@import "../../../sass/Components/Variables";

.CoursePage {
    float: left;
    width: 97rem;
    &__Title {
        font-size: 24px;
        position: relative;
        left: 7.5%;
        top: 50px;
    }
    &__Container {
        position: relative;
        left: 7.5%;
        top: 70px;
    }
    &__Menu {
        &-Btn {
            border: 0;
            font-size: 16px;
            background-color: transparent;
            color: $secondary-color-light;
            padding: 0px 10px;
            text-align: center;
            cursor: pointer;
            font-weight: 100;
            transition: all 0.1s;
            &:hover {
                color: $primary-color-light;
                border-bottom: 3px solid yellow;
            }
        }
        &-Active {
            color: $primary-color-light;
            font-weight: 700;
            border-bottom: 3px solid yellow;
        }
    }
}
