@import "../../../sass/Components/Variables";

.CoursePage {
    &__Menu {
        &-Btn {
            color: $secondary-color-light;
            &:hover {
                color: $primary-color-light;
            }
        }
        &-Active {
            color: $primary-color-light;
        }
    }
    &__Back {
        // stroke: $primary-color-light !important;
        color: $primary-color-light;
        background-color: transparent;
        font-size: 36px;
        margin: 0px 10px;
        border: 0;
        cursor: pointer;
    }
}
