@import "../../../sass/Components/Variables";

.CoursePage {
    &__Menu {
        &-Btn {
            color: $secondary-color-dark;
            &:hover {
                color: $primary-color-dark;
            }
        }
        &-Active {
            color: $primary-color-dark;
        }
    }

    &__Search {
        color: $primary-color-dark;
    }
}
