@import "../../../sass/Components/Variables";

.Sidebar {
    width: 25rem;
    padding: 0.5rem 1rem;
    // border: 0.1rem solid red;
    height: 100vh;
    float: right;
    background-color: $primary-color-light;
    &__Date {
        text-align: right;
    }

    &__Container {
        // border: 0.1rem solid red;
        padding-top: 4rem;
    }
}
